<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="C"/>
        <filter
          name="C++"/>
        <filter
          name="CUDA"/>
        <filter
          name="Objective-C"/>
        <filter
          name="Objective-C++"/>
      </watched>
      <dir
        name="app">
        <dir
          name="inc">
          <dir
            name="coriander">
            <dir
              name="application"/>
            <dir
              name="backends">
              <dir
                name="posix"/>
              <dir
                name="zephyr"/>
            </dir>
            <dir
              name="base"/>
            <dir
              name="motorctl"/>
            <dir
              name="os"/>
            <dir
              name="protos"/>
          </dir>
        </dir>
        <dir
          name="src">
          <dir
            name="coriander">
            <dir
              name="application"/>
            <dir
              name="backends">
              <dir
                name="zephyr"/>
            </dir>
            <dir
              name="motorctl"/>
            <dir
              name="protos"/>
          </dir>
        </dir>
        <dir
          name="tests"/>
      </dir>
      <dir
        name="build-ut">
        <dir
          name="CMakeFiles">
          <dir
            name="3.27.3">
            <dir
              name="CompilerIdC"/>
            <dir
              name="CompilerIdCXX"/>
          </dir>
        </dir>
        <dir
          name="_deps">
          <dir
            name="assert-src">
            <dir
              name="include">
              <dir
                name="boost">
                <dir
                  name="assert"/>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="cmake_install_test"/>
              <dir
                name="cmake_subdir_test"/>
              <dir
                name="exp"/>
            </dir>
          </dir>
          <dir
            name="better-enums-src">
            <dir
              name="example"/>
            <dir
              name="extra">
              <dir
                name="better-enums"/>
            </dir>
            <dir
              name="test">
              <dir
                name="cxxtest"/>
              <dir
                name="linking"/>
              <dir
                name="performance"/>
            </dir>
          </dir>
          <dir
            name="circular_buffer-src">
            <dir
              name="example"/>
            <dir
              name="include">
              <dir
                name="boost">
                <dir
                  name="circular_buffer"/>
              </dir>
            </dir>
            <dir
              name="test"/>
          </dir>
          <dir
            name="concept_check-src">
            <dir
              name="include">
              <dir
                name="boost">
                <dir
                  name="concept">
                  <dir
                    name="detail"/>
                </dir>
                <dir
                  name="concept_check"/>
              </dir>
            </dir>
            <dir
              name="test"/>
          </dir>
          <dir
            name="config-src">
            <dir
              name="checks">
              <dir
                name="architecture"/>
              <dir
                name="std"/>
            </dir>
            <dir
              name="include">
              <dir
                name="boost">
                <dir
                  name="config">
                  <dir
                    name="abi"/>
                  <dir
                    name="compiler"/>
                  <dir
                    name="detail"/>
                  <dir
                    name="no_tr1"/>
                  <dir
                    name="platform"/>
                  <dir
                    name="stdlib"/>
                </dir>
                <dir
                  name="detail"/>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="abi"/>
              <dir
                name="link"/>
              <dir
                name="threads"/>
            </dir>
            <dir
              name="tools"/>
          </dir>
          <dir
            name="core-src">
            <dir
              name="include">
              <dir
                name="boost">
                <dir
                  name="core">
                  <dir
                    name="detail"/>
                </dir>
                <dir
                  name="detail"/>
                <dir
                  name="utility"/>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="swap"/>
            </dir>
          </dir>
          <dir
            name="di-src">
            <dir
              name="benchmark">
              <dir
                name="bind_error"/>
              <dir
                name="bind_interface"/>
              <dir
                name="bind_value"/>
              <dir
                name="create_complex"/>
              <dir
                name="create_simple"/>
              <dir
                name="performance"/>
            </dir>
            <dir
              name="doc">
              <dir
                name="bloomberg-2018">
                <dir
                  name="example"/>
              </dir>
              <dir
                name="concepts-driven-design-with-di">
                <dir
                  name="example"/>
              </dir>
              <dir
                name="cpp-london-2017">
                <dir
                  name="example"/>
              </dir>
              <dir
                name="cppcon-2018">
                <dir
                  name="example"/>
              </dir>
              <dir
                name="cppnow-2016">
                <dir
                  name="example"/>
              </dir>
              <dir
                name="cppnow-2017">
                <dir
                  name="example"/>
              </dir>
            </dir>
            <dir
              name="example">
              <dir
                name="errors"/>
              <dir
                name="modules"/>
              <dir
                name="performance"/>
              <dir
                name="polymorphism">
                <dir
                  name="common"/>
              </dir>
              <dir
                name="tutorial"/>
              <dir
                name="user_guide"/>
            </dir>
            <dir
              name="extension">
              <dir
                name="include">
                <dir
                  name="boost">
                  <dir
                    name="di">
                    <dir
                      name="extension">
                      <dir
                        name="bindings"/>
                      <dir
                        name="injections"/>
                      <dir
                        name="policies"/>
                      <dir
                        name="providers"/>
                      <dir
                        name="scopes"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="bindings"/>
                <dir
                  name="injections"/>
                <dir
                  name="policies"/>
                <dir
                  name="providers"/>
                <dir
                  name="scopes"/>
              </dir>
            </dir>
            <dir
              name="include">
              <dir
                name="boost">
                <dir
                  name="di">
                  <dir
                    name="aux_"/>
                  <dir
                    name="concepts"/>
                  <dir
                    name="core"/>
                  <dir
                    name="policies"/>
                  <dir
                    name="providers"/>
                  <dir
                    name="scopes"/>
                  <dir
                    name="type_traits"/>
                  <dir
                    name="wrappers"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="common">
                <dir
                  name="fakes"/>
              </dir>
              <dir
                name="ft"/>
              <dir
                name="pt"/>
              <dir
                name="ut">
                <dir
                  name="aux_"/>
                <dir
                  name="concepts"/>
                <dir
                  name="core"/>
                <dir
                  name="policies"/>
                <dir
                  name="providers"/>
                <dir
                  name="scopes"/>
                <dir
                  name="type_traits"/>
                <dir
                  name="wrappers"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="googletest-src">
            <dir
              name="googlemock">
              <dir
                name="include">
                <dir
                  name="gmock">
                  <dir
                    name="internal">
                    <dir
                      name="custom"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="src"/>
              <dir
                name="test"/>
            </dir>
            <dir
              name="googletest">
              <dir
                name="include">
                <dir
                  name="gtest">
                  <dir
                    name="internal">
                    <dir
                      name="custom"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="samples"/>
              <dir
                name="src"/>
              <dir
                name="test"/>
            </dir>
          </dir>
          <dir
            name="move-src">
            <dir
              name="example"/>
            <dir
              name="include">
              <dir
                name="boost">
                <dir
                  name="move">
                  <dir
                    name="algo">
                    <dir
                      name="detail"/>
                  </dir>
                  <dir
                    name="detail"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="test"/>
          </dir>
          <dir
            name="preprocessor-src">
            <dir
              name="doc">
              <dir
                name="examples"/>
            </dir>
            <dir
              name="include">
              <dir
                name="boost">
                <dir
                  name="preprocessor">
                  <dir
                    name="arithmetic">
                    <dir
                      name="detail"/>
                    <dir
                      name="limits"/>
                  </dir>
                  <dir
                    name="array">
                    <dir
                      name="detail"/>
                  </dir>
                  <dir
                    name="comparison">
                    <dir
                      name="limits"/>
                  </dir>
                  <dir
                    name="config"/>
                  <dir
                    name="control">
                    <dir
                      name="detail">
                      <dir
                        name="dmc"/>
                      <dir
                        name="edg">
                        <dir
                          name="limits"/>
                      </dir>
                      <dir
                        name="limits"/>
                      <dir
                        name="msvc"/>
                    </dir>
                    <dir
                      name="limits"/>
                  </dir>
                  <dir
                    name="debug"/>
                  <dir
                    name="detail">
                    <dir
                      name="dmc"/>
                    <dir
                      name="limits"/>
                  </dir>
                  <dir
                    name="facilities">
                    <dir
                      name="detail"/>
                    <dir
                      name="limits"/>
                  </dir>
                  <dir
                    name="iteration">
                    <dir
                      name="detail">
                      <dir
                        name="bounds"/>
                      <dir
                        name="iter">
                        <dir
                          name="limits"/>
                      </dir>
                      <dir
                        name="limits"/>
                    </dir>
                  </dir>
                  <dir
                    name="list">
                    <dir
                      name="detail">
                      <dir
                        name="dmc"/>
                      <dir
                        name="edg">
                        <dir
                          name="limits"/>
                      </dir>
                      <dir
                        name="limits"/>
                    </dir>
                    <dir
                      name="limits"/>
                  </dir>
                  <dir
                    name="logical">
                    <dir
                      name="limits"/>
                  </dir>
                  <dir
                    name="punctuation">
                    <dir
                      name="detail"/>
                  </dir>
                  <dir
                    name="repetition">
                    <dir
                      name="detail">
                      <dir
                        name="dmc"/>
                      <dir
                        name="edg">
                        <dir
                          name="limits"/>
                      </dir>
                      <dir
                        name="limits"/>
                      <dir
                        name="msvc"/>
                    </dir>
                    <dir
                      name="limits"/>
                  </dir>
                  <dir
                    name="selection"/>
                  <dir
                    name="seq">
                    <dir
                      name="detail">
                      <dir
                        name="limits"/>
                    </dir>
                    <dir
                      name="limits"/>
                  </dir>
                  <dir
                    name="slot">
                    <dir
                      name="detail"/>
                  </dir>
                  <dir
                    name="tuple">
                    <dir
                      name="detail"/>
                    <dir
                      name="limits"/>
                  </dir>
                  <dir
                    name="variadic">
                    <dir
                      name="detail"/>
                    <dir
                      name="limits"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="test"/>
          </dir>
          <dir
            name="static_assert-src">
            <dir
              name="example"/>
            <dir
              name="include">
              <dir
                name="boost"/>
            </dir>
            <dir
              name="test">
              <dir
                name="cmake_install_test"/>
              <dir
                name="cmake_subdir_test"/>
            </dir>
          </dir>
          <dir
            name="throw_exception-src">
            <dir
              name="include">
              <dir
                name="boost">
                <dir
                  name="exception"/>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="cmake_install_test"/>
              <dir
                name="cmake_subdir_test"/>
            </dir>
          </dir>
          <dir
            name="type_traits-src">
            <dir
              name="examples"/>
            <dir
              name="include">
              <dir
                name="boost">
                <dir
                  name="type_traits">
                  <dir
                    name="detail"/>
                </dir>
                <dir
                  name="utility"/>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="compile_fail"/>
            </dir>
            <dir
              name="tools"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="recovery">
        <dir
          name="src"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="C++"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo="."
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Mac"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    cuda_arch="sm_20"
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_truncation="1000"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
</project>
