# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F405XG=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# enable GPIO
CONFIG_GPIO=y

# clock configuration
CONFIG_CLOCK_CONTROL=y

# enable pin controller
CONFIG_PINCTRL=y

# Enable LED
CONFIG_LED=y

# Enable ADC
CONFIG_ADC=y

# Enable SPI-Flash
CONFIG_SPI=y
CONFIG_SPI_STM32_INTERRUPT=y
CONFIG_FLASH=y
CONFIG_SPI_NOR=y